@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
  background-image: url("../img/hill-cliff.jpg");
}

h1 {
  font-family: 'Special Elite', cursive;
}

h2 {
  font-family: 'Special Elite', cursive;
}

h3{
  font-family: 'Special Elite', cursive;
}

h4 {
  font-family: 'Special Elite', cursive;
}
